/projects
/.hvigor
.cxx
/.test
/.idea
**/build/
**/oh_modules/
local.properties
/build-profile.json5
*.p12
*.cer
*.p7b
*.iml
.DS_Store
.cache
/.codeartsdoer/
/.codebuddy/
/.appanalyzer/
/yes
/yes.pub
/logs/
/.dsh/
