{
  "app": {
    "signingConfigs": [
      {
        "name": "default",
        "type": "HarmonyOS",
        "material": {
          "certpath": "LOCAL_PATH_TO_.cer",
          "keyAlias": "debugKey",
          "keyPassword": "LOCAL_KEY_PASSWORD",
          "profile": "LOCAL_PATH_TO_.p7b",
          "signAlg": "SHA256withECDSA",
          "storeFile": "LOCAL_PATH_TO_.p12",
          "storePassword": "LOCAL_STORE_PASSWORD"
        }
      }
    ],
    "products": [
      {
        "name": "default",
        "signingConfig": "default",
        "compatibleSdkVersion": "6.1.1(24)",
        "runtimeOS": "HarmonyOS",
        "targetSdkVersion": "6.1.1(24)"
      }
    ]
  },
  "modules": [
    {
      "name": "entry",
      "srcPath": "./entry",
      "targets": [
        {
          "name": "default",
          "applyToProducts": [
            "default"
          ]
        }
      ]
    }
  ]
}
